workflow/Enviar Correo Hawimi Score.json
{
  "updatedAt": "2026-01-06T00:21:22.151Z",
  "createdAt": "2025-10-21T02:11:58.689Z",
  "id": "6QjYoURvSKH7wOw0",
  "name": "Enviar Correo Hawimi Score",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "urlInstagram"
            },
            {
              "name": "urlfacebook"
            },
            {
              "name": "tlf"
            },
            {
              "name": "email"
            },
            {
              "name": "urltwitter"
            },
            {
              "name": "hawimiScore"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19ba35f2-a159-44fd-99c2-93f1ee7afa12",
              "name": "response",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        320
      ],
      "id": "03c5c8f3-e00f-413d-af7e-ccdf55a17455",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().json.tlf) {\n  return {tlf: $input.first().json.tlf,       \n        nombre: $input.first().json.nombre,\n       urlInstagram: $input.first().json.urlInstagram,\n       urlfacebook: $input.first().json.urlfacebook,\n       email: $input.first().json.email,\n       urltwitter: $input.first().json.urltwitter,\n        random: Math.floor(Math.random() * (10000000 - 3 + 1))}\n}\n\n\nreturn {tlf: \"\",\n       nombre: $input.first().json.nombre,\n       urlInstagram: $input.first().json.urlInstagram,\n       urlfacebook: $input.first().json.urlfacebook,\n       email: $input.first().json.email,\n       urltwitter: $input.first().json.urltwitter,\n        random: Math.floor(Math.random() * (10000000 - 3 + 1))\n       }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        352
      ],
      "id": "2bc670e7-7014-47be-8077-a9f708b81d9c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://funnel_ventas_chatwoot:3000/api/v1/accounts/1/contacts/{{ $json.payload.contact.id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "zE26KUcBUe9PPkAt8SYi4wdF"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\n    \"por_contactar\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        208
      ],
      "id": "88211638-6843-49e3-a617-e80ef9402044",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://funnel_ventas_chatwoot:3000/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "zE26KUcBUe9PPkAt8SYi4wdF"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.nombre }}\",\n  \"email\": {{ $json.email && $json.email != \"\" ? JSON.stringify($json.email) : \"null\" }},\n  \"blocked\": false,\n  \"phone_number\": \"{{ $json.tlf }}\",\n  \"avatar_url\": \"https://example.com/avatar.png\",\n  \"identifier\": \"{{ $json.random }}\",\n  \"additional_attributes\": {\n    \"social_profiles\": \n    {\n      \"twitter\": \"{{ $json.urltwitter }}\",\n      \"facebook\": \"{{ $json.urlfacebook }}\",\n      \"instagram\": \"{{ $json.urlInstagram }}\" \n    }\n  },\n  \"custom_attributes\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        336
      ],
      "id": "5fc1fcd2-fb7d-42a7-b845-4ef1e91017b3",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://funnel_ventas_chatwoot:3000/api/v1/accounts/1/contacts/{{ $('HTTP Request3').item.json.payload.contact.id }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "zE26KUcBUe9PPkAt8SYi4wdF"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\n    \"contactado\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        320
      ],
      "id": "91e38001-daf7-486e-8257-83ac69c869ed",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://funnel_ventas_chatwoot:3000/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "zE26KUcBUe9PPkAt8SYi4wdF"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $json.payload.contact.id }},\n  \"inbox_id\": 4,\n  \"status\": \"open\",\n  \"additional_attributes\": {\n    \"mail_subject\": \"Your Hawimi Score Results Are Ready\"\n  },\n  \"message\": {\n    \"content\": \"Hello {{ $('When Executed by Another Workflow').item.json.nombre }},\\n\\nWe are pleased to share the results of your **Hawimi Score assessment**.\\n\\n🏆 **Your Hawimi Score: {{ $('When Executed by Another Workflow').item.json.hawimiScore }}**\\n\\nThis score provides a clear snapshot of how your business is currently positioned in terms of conscious decision-making, strategic alignment, and long-term impact. More than a number, it highlights both your strengths and the opportunities available to further optimize performance, resilience, and sustainable growth.\\n\\nAt Hawimi, we specialize in transforming insights like this into actionable strategies that help businesses strengthen their foundations, make smarter decisions, and create lasting value.\\n\\nIf you would like to better understand what your score means for your business — and how to improve it through tailored guidance — our team would be delighted to support you.\\n\\nKind regards,\\nThe Hawimi Team 💚\",\n    \"message_type\": \"outgoing\",\n    \"private\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        320
      ],
      "id": "cd380ce8-9465-4645-a315-b66a04d3d790",
      "name": "Send Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d518ded-f173-4f26-b5f8-09a6efa8babc",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        400
      ],
      "id": "cfd2c5de-1041-4266-a5e3-f2a620a63ce5",
      "name": "If"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "nombre": "Prueba A",
          "urlInstagram": "https://www.instagram.com/planta/",
          "urlfacebook": "",
          "tlf": "",
          "email": "marcoa13310+tttt@gmail.com",
          "urltwitter": "",
          "hawimiScore": 95
        }
      }
    ]
  },
  "versionId": "9aa1f36b-5a44-4743-ad47-672cefc3a758",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T02:11:58.695Z",
      "createdAt": "2025-10-21T02:11:58.695Z",
      "role": "workflow:owner",
      "workflowId": "6QjYoURvSKH7wOw0",
      "projectId": "vmy1v6GvUEx0NXtc"
    }
  ],
  "activeVersion": null,
  "tags": []
}