workflow/hawimi scraping.json
{
  "createdAt": "2025-11-01T18:13:47.358Z",
  "updatedAt": "2025-11-08T15:48:36.000Z",
  "id": "G3tNgyz2wNL5dYGR",
  "name": "hawimi scraping",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://red-slow-painting.mastra.cloud/api/agents/hawimiAgent/generate/vnext",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Dame 3 opciones para {{ $('Loop Over Items').item.json['Categoría'] }} en {{ $('Loop Over Items').item.json.pais }}\" }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -64
      ],
      "id": "35fe3267-22e3-48bc-8a7d-1a9b386c8aa5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
          "mode": "list",
          "cachedResultName": "categorias de hawimi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 967700156,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=967700156"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuestas": "={{ $json.link }}",
            "Hawimi score": "={{ $json.score }}",
            "Wellbeing": "={{ $json.wellBeing }}",
            "Humanity": "={{ $json.humanity }}",
            "Planet": "={{ $json.planet }}",
            "Status": "active"
          },
          "matchingColumns": [
            "respuestas"
          ],
          "schema": [
            {
              "id": "respuestas",
              "displayName": "respuestas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hawimi score",
              "displayName": "Hawimi score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wellbeing",
              "displayName": "Wellbeing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Humanity",
              "displayName": "Humanity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Planet",
              "displayName": "Planet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -48
      ],
      "id": "66862341-1995-4b02-960f-9e48bae0fc26",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XsGaBYudmMFRftiq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        -80
      ],
      "id": "315a1aca-082d-4589-8576-f84e999e3566",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        -64
      ],
      "id": "6bf95003-960d-44ab-90a8-6240b57cb3b4",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($input.first().json.text);  // 'respuesta' es el JSON completo\nlet output = [];\n\nif (Array.isArray(data.options)) {\n  // Si hay opciones, las convertimos en objetos con clave 'link'\n  output = data.options.map(o => ({\n    link: o.link,\n    score: o.score,\n    wellBeing: o.wellBeing,\n    humanity: o.humanity,\n    planet: o.planet\n  }));\n} else {\n  // Si no existe 'options', devolvemos un mensaje claro\n  output = [\n    { link: \"No se encontró el campo 'options' en la respuesta o el formato es inválido.\" }\n  ];\n}\n\n// Retornamos el arreglo final\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -64
      ],
      "id": "35705fbb-a5f2-4c5c-89de-e387a2ba58ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
          "mode": "list",
          "cachedResultName": "categorias de hawimi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -80
      ],
      "id": "b8b4864b-bd88-42b7-92b4-8641438d4c83",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XsGaBYudmMFRftiq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        -80
      ],
      "id": "2a571bf3-fa8b-43aa-bb48-9bfd4790a5f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.all().slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "e424fb09-a6a4-4adb-b8ff-bc6a24446bb6",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d6c28702-9bdb-459c-ba09-93dbe101cdd9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-01T18:13:47.364Z",
      "updatedAt": "2025-11-01T18:13:47.364Z",
      "role": "workflow:owner",
      "workflowId": "G3tNgyz2wNL5dYGR",
      "projectId": "vmy1v6GvUEx0NXtc"
    }
  ],
  "tags": []
}