workflow/hawimi scraping.json
{
  "updatedAt": "2025-12-26T03:09:52.741Z",
  "createdAt": "2025-11-01T18:13:47.358Z",
  "id": "G3tNgyz2wNL5dYGR",
  "name": "hawimi scraping",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://red-slow-painting.mastra.cloud/api/agents/hawimiAgent/generate/vnext",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Dame 3 opciones para {{ $('Loop Over Items').item.json['Categoría'] }} en {{ $('Loop Over Items').item.json.pais }}\" }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -64
      ],
      "id": "35fe3267-22e3-48bc-8a7d-1a9b386c8aa5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
          "mode": "list",
          "cachedResultName": "categorias de hawimi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 967700156,
          "mode": "list",
          "cachedResultName": "Hoja 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=967700156"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuestas": "={{ $json.link }}",
            "Hawimi score": "={{ $json.score }}",
            "Wellbeing": "={{ $json.wellBeing }}",
            "Humanity": "={{ $json.humanity }}",
            "Planet": "={{ $json.planet }}",
            "Status": "active"
          },
          "matchingColumns": [
            "respuestas"
          ],
          "schema": [
            {
              "id": "respuestas",
              "displayName": "respuestas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hawimi score",
              "displayName": "Hawimi score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wellbeing",
              "displayName": "Wellbeing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Humanity",
              "displayName": "Humanity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Planet",
              "displayName": "Planet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        -64
      ],
      "id": "66862341-1995-4b02-960f-9e48bae0fc26",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XsGaBYudmMFRftiq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        -80
      ],
      "id": "315a1aca-082d-4589-8576-f84e999e3566",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($input.first().json.text);  // 'respuesta' es el JSON completo\nlet output = [];\n\nif (Array.isArray(data.options)) {\n  // Si hay opciones, las convertimos en objetos con clave 'link'\n  output = data.options.map(o => ({\n    link: o.link,\n    score: o.score,\n    wellBeing: o.wellBeing,\n    humanity: o.humanity,\n    planet: o.planet\n  }));\n} else {\n  // Si no existe 'options', devolvemos un mensaje claro\n  output = [\n    { link: \"No se encontró el campo 'options' en la respuesta o el formato es inválido.\" }\n  ];\n}\n\n// Retornamos el arreglo final\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -64
      ],
      "id": "35705fbb-a5f2-4c5c-89de-e387a2ba58ef",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
          "mode": "list",
          "cachedResultName": "categorias de hawimi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -80
      ],
      "id": "b8b4864b-bd88-42b7-92b4-8641438d4c83",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XsGaBYudmMFRftiq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        -80
      ],
      "id": "2a571bf3-fa8b-43aa-bb48-9bfd4790a5f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.all().slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "e424fb09-a6a4-4adb-b8ff-bc6a24446bb6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
          "mode": "list",
          "cachedResultName": "categorias de hawimi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').first().json.row_number }}",
            "status": "ready"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nº",
              "displayName": "Nº",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo / Enfoque Principal",
              "displayName": "Tipo / Enfoque Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        -64
      ],
      "id": "60cc0d80-655b-41ee-aafa-39454df47690",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XsGaBYudmMFRftiq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2160ce85-4840-4067-b3f8-fb86083f18a5",
  "activeVersionId": "2160ce85-4840-4067-b3f8-fb86083f18a5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-01T18:13:47.364Z",
      "createdAt": "2025-11-01T18:13:47.364Z",
      "role": "workflow:owner",
      "workflowId": "G3tNgyz2wNL5dYGR",
      "projectId": "vmy1v6GvUEx0NXtc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-26T03:09:52.742Z",
    "createdAt": "2025-12-26T03:09:52.742Z",
    "versionId": "2160ce85-4840-4067-b3f8-fb86083f18a5",
    "workflowId": "G3tNgyz2wNL5dYGR",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://red-slow-painting.mastra.cloud/api/agents/hawimiAgent/generate/vnext",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Dame 3 opciones para {{ $('Loop Over Items').item.json['Categoría'] }} en {{ $('Loop Over Items').item.json.pais }}\" }\n  ]\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1056,
          -64
        ],
        "id": "35fe3267-22e3-48bc-8a7d-1a9b386c8aa5",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
            "mode": "list",
            "cachedResultName": "categorias de hawimi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 967700156,
            "mode": "list",
            "cachedResultName": "Hoja 2",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=967700156"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "respuestas": "={{ $json.link }}",
              "Hawimi score": "={{ $json.score }}",
              "Wellbeing": "={{ $json.wellBeing }}",
              "Humanity": "={{ $json.humanity }}",
              "Planet": "={{ $json.planet }}",
              "Status": "active"
            },
            "matchingColumns": [
              "respuestas"
            ],
            "schema": [
              {
                "id": "respuestas",
                "displayName": "respuestas",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Hawimi score",
                "displayName": "Hawimi score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Wellbeing",
                "displayName": "Wellbeing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Humanity",
                "displayName": "Humanity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Planet",
                "displayName": "Planet",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1536,
          -64
        ],
        "id": "66862341-1995-4b02-960f-9e48bae0fc26",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XsGaBYudmMFRftiq",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          752,
          -80
        ],
        "id": "315a1aca-082d-4589-8576-f84e999e3566",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "const data = JSON.parse($input.first().json.text);  // 'respuesta' es el JSON completo\nlet output = [];\n\nif (Array.isArray(data.options)) {\n  // Si hay opciones, las convertimos en objetos con clave 'link'\n  output = data.options.map(o => ({\n    link: o.link,\n    score: o.score,\n    wellBeing: o.wellBeing,\n    humanity: o.humanity,\n    planet: o.planet\n  }));\n} else {\n  // Si no existe 'options', devolvemos un mensaje claro\n  output = [\n    { link: \"No se encontró el campo 'options' en la respuesta o el formato es inválido.\" }\n  ];\n}\n\n// Retornamos el arreglo final\nreturn output;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          -64
        ],
        "id": "35705fbb-a5f2-4c5c-89de-e387a2ba58ef",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
            "mode": "list",
            "cachedResultName": "categorias de hawimi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          224,
          -80
        ],
        "id": "b8b4864b-bd88-42b7-92b4-8641438d4c83",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XsGaBYudmMFRftiq",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          32,
          -80
        ],
        "id": "2a571bf3-fa8b-43aa-bb48-9bfd4790a5f0",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "jsCode": "\nreturn $input.all().slice(0, 10);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          -80
        ],
        "id": "e424fb09-a6a4-4adb-b8ff-bc6a24446bb6",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA",
            "mode": "list",
            "cachedResultName": "categorias de hawimi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wpiuFweL6gbYvOQqiGmtzZmc2LvrgtLupIyEsvGiuYA/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Loop Over Items').first().json.row_number }}",
              "status": "ready"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Nº",
                "displayName": "Nº",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Categoría",
                "displayName": "Categoría",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Tipo / Enfoque Principal",
                "displayName": "Tipo / Enfoque Principal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pais",
                "displayName": "pais",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1744,
          -64
        ],
        "id": "60cc0d80-655b-41ee-aafa-39454df47690",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XsGaBYudmMFRftiq",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aharon Guedez",
    "name": null,
    "description": null
  },
  "tags": []
}